<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490518233995-mdj6dfvt6qk1h0qugt6pfg34hp9605u8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490518233995-mdj6dfvt6qk1h0qugt6pfg34hp9605u8</string>
	<key>API_KEY</key>
	<string>AIzaSyAxAdDHmQo6ySqPSKpPEumIl0C63bgoOGc</string>
	<key>GCM_SENDER_ID</key>
	<string>490518233995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mete.Sense</string>
	<key>PROJECT_ID</key>
	<string>sense-4ab7c</string>
	<key>STORAGE_BUCKET</key>
	<string>sense-4ab7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490518233995:ios:df26b8a50fc127711c258e</string>
</dict>
</plist>